.header  {
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    z-index: 2;
}

.logo__img {
    width: 60px;
    height: 60px;
    
}

.menu__items a{
  text-decoration: none;
  color: white;
  margin-inline: 5px;
  font-size: 12px;
  font-family: "PoppinsRegular";
}

.menu__items a::before{
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background-color: red;
    transition: width 1s ease-in;
}

.menu__items a:hover::before{
    width: 100%;
}

.menu__items {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    margin-right: 200px;
}

